/*theme ajgggg!*/
:root{
	--color-1: #00aff0;
	--color-2: #ff4e9f;
	--bg-footer-1: #F2F2F2;
	--bg-footer-2: #E0E0E0;
	--transition: .25s ease;
  --border: 1px solid rgba(0,0,0,.1);
}
/**{border: 1px solid red}*/
html {scroll-behavior: smooth;}
a{color: var(--color-1); transition: var(--transition); text-decoration: none;}
a:hover{color: var(--color-1); text-decoration: none;}
body{color: var(--color-theme-2)!important}
.btn-theme{padding: 1em 2em}
.btn-theme-1{background-color: var(--color-1); color: #fff; transition: var(--transition)}
.btn-theme-1:hover{background-color: var(--color-1); color: #fff; opacity: .8}
.btn-theme-2{background-color: var(--color-2); color: #fff; transition: var(--transition)}
.btn-theme-2:hover{background-color: var(--color-2); color: #fff; opacity: .8}
.bg-theme-1{background-color: var(--color-1); color: #fff}
.bg-theme-2{background-color: var(--color-2); color: #fff}
.color-theme-1{color: var(--color-1)}
.color-theme-2{color: var(--color-2)}
.rounded-1{border-radius: .5em!important}
.rounded-2{border-radius: 1em!important}
.rounded-3{border-radius: 1.5em!important}
.rounded-4{border-radius: 2em!important}
.rounded-5{border-radius: 2.5em!important}
.opacity-0{opacity: unset}
.opacity-1{opacity: .15}
.opacity-2{opacity: .3}
.opacity-3{opacity: .5}
.opacity-4{opacity: .65}
.opacity-5{opacity: .8}
.opacity-6{opacity: 1}
/*end*/

.wrap{padding-top: 4.5em}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;}
.img-overlay-1{
  background: url("../../../assets/images/banner/1.1.webp");
  height: 600px;
  width: 100%;
  filter: blur(8px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}
.carousel-indicators li{height: 10px; width: 10px; border-radius: 100%;}
.dropdown-user .dropdown-toggle::after {content: none;}
.dropdown-user .dropdown-menu {min-width: 13rem;}
.page-item.active .page-link {background-color: var(--color-1); border-color: var(--color-1)}
.pp-dashboard{width: 100px; height: 100px}
@keyframes fab{
    0% {transform: scale(1);}
    25% {transform: scale(1);}
    50% {transform: scale(.9);}
    75% {transform: scale(1);}
    100% {transform: scale(1);}
}
.side-artikel{border-right: var(--border)}
.side-artikel .tag-list{border-top: var(--border)}
.sticky-sidebar{position: sticky; top: 5em; height: fit-content}
.logo-deskripsi{width: 100px; height: 100px; background-image: url('../../../assets/images/logo/campusnet.webp'); background-size: cover; filter: brightness(0) invert(1);}
@media (max-width: 991.98px){
  .sticky-sidebar{position: unset; top: unset; height: unset;}
  .dropdown-profile{position: static; width: 100%}
  .w-md-0{width: unset!important}
  .pp-dashboard{width: 65px; height: 65px}
  .vh-md-0{height: fit-content!important}
  .register.wrapper{ width: unset!important; position: unset!important; top: unset!important; left: unset!important; transform: unset!important;}
  .side-artikel{border-right: 0; border-top: var(--border); padding-top: 1em}
  .side-artikel .tag-list{border-bottom: var(--border); border-top: var(--border)}
}